/*Styles reset*/
* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	color: #CCC;
	font-family: Helvetica, Georgia, sans-serif, Arial, Serif;
}

p {
	margin: 20px 0;
}

/*Set the page background and height*/
html {
	height: 100%;
	background: url("../img/biker-motorcycle-ride-oil-paint-vintage.jpg") no-repeat;
	background-size: 115% 100%;
}

/*Set the layout background and height*/
body {
	background:	rgba(0, 0, 0, 0.9);
	height: 100%;
}

/*Main title style*/
header > h1 {
	font-size: 2em;
	text-align: center;
	padding-top: 15px;
	transform-origin: bottom;
}

/*Hide the main title while showing the nav menu*/
body.nav-active > header > h1 {
	transform: rotateX(-90deg);
	transition: 0.3s;
}

/*nav menu button*/
header > button {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	outline: none;
	padding: 23px;
	vertical-align: middle;
	z-index: 1;
}

/*nav menu button appearance*/
header > button > .bar1,
header > button > .bar2,
header > button > .bar3 {
	height: 4px;
	width: 35px;
	background: #555;
	transition: 0.5s;
}

header > button > .bar2 {
	margin: 6px 0;
}

/*nav menu button style while hovering*/
header > button:hover {
	cursor: pointer;
}

/*nav menu appearance style while hovering*/
header > button:hover > .bar1,
header > button:hover > .bar2,
header > button:hover > .bar3,
header > button:focus > .bar1,
header > button:focus > .bar2,
header > button:focus > .bar3 {
	background: #F60;
}

/*nav menu animation of after clicking/taping*/
header > button#nav-toggle.active > .bar1 {
	transform: rotate(45deg) translate(6px, 8px);
}

header > button#nav-toggle.active > .bar2 {
	width: 0;
	margin: 6px auto;
	opacity: 0;
}

header > button#nav-toggle.active > .bar3 {
	transform: rotate(-45deg) translate(6px, -8px);
}

/*header separator style*/
header > hr {
	border: none;
	border-bottom: 1px solid #777;
	width: 350px;
	margin: 20px auto 50px;
}

/*nav menu style. Hidden while disable*/
nav#main-nav {
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	transform: rotateX(90deg);
	transform-origin: top;
	transition: 0.3s;
}

nav#main-nav > ul > li {
	display: inline-block;
	list-style: none;
}

/*nav menu links style*/
nav#main-nav > ul > li > a {
	display: inline-block;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	text-decoration: none;
	padding: 24px 25px;
}

/*nav menu enabling animation*/
nav#main-nav.active {
	transform: initial;
	transition: 0.6s;
}

/*body style*/
section {
	padding: 20px 100px;
}

/*Links style*/
a {
	color: #AAA;
	transition: 0.3s;
}

a:hover, a:focus,
a.active:hover, a.active:focus {
	color: #F60;
	transition: 0.3s;
}

a.active {
	color: #F70;
}

/*profile picture style*/
.profile-pic {
	display: inline-block;
}

.profile-pic img {
	border: 8px solid #EEE;
	border-radius: 100%;
}

/*text style and size*/
article p {
	display: inline-block;
	width: calc(100% - 350px);
	padding-left: 50px;
	vertical-align: -70%;
	line-height: 1.5em;
}

/*footer style and size*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 50px;
	text-align: center;
}

footer > form {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

input {
	background: none;
	outline: none;
	height: 30px;
	font-size: 1.2em;
	transition: 0.3s;
}

input:not([type="submit"]) {
	border: none;
	width: 300px;
	border-bottom: 1px solid #CCC;
}

input[type="submit"] {
	border: 1px solid #CCC;
	border-radius: 0 5px 5px 0;
	padding: 0 10px;
	margin-left: -4px;
	height: 32px;
	cursor: pointer;
}

input:hover {
	color: #F60;
	border-color: #F90;
}

input:focus {
	border-color: #F60;
}

/*footer social links style*/
footer > ul {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

footer > ul > li {
	display: inline-block;
	list-style: none;
}

a.fa {
	color: white;
	text-decoration: none;
	margin: 0 20px;
	width: 2em;
	line-height: 2em;
}

a.fa-twitter:hover {
	background:  #1DA1F2;
	border-radius: 100%;
}

a.fa-facebook:hover {
	background: #3b5998;
	border-radius: 100%;
}

a.fa-linkedin:hover {
	background: #0077b5;
	border-radius: 100%;
}
