* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	color: #CCC;
	font-family: Helvetica, Georgia, sans-serif, Arial, Serif;
}

html {
	height: 100%;
	background: url("../img/biker-motorcycle-ride-oil-paint-black&white.jpg") no-repeat;
	background-size: 115% 100%;
}

body {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.9))
		rgba(220, 160, 0, 0.15);
	height: 100%;
	/*padding: 0 100px;*/
}

section {
	background: rgba(0, 0, 0, 0.85);
	/*margin: 50px auto;*/
	/*width: 1200px;*/
	padding: 50px 80px;
	height: calc(100% - 100px);
}

article > h1 {
	font-size: 2em;
	text-align: center;
}

article > hr {
	border: none;
	border-bottom: 1px solid #777;
	width: 350px;
	margin: 20px auto 50px;
}

.profile-pic {
	display: inline-block;
}

.profile-pic img {
	border: 8px solid #EEE;
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

article p {
	display: inline-block;
	width: calc(100% - 400px);
	padding-left: 50px;
	/*padding-top: 50px;*/
	vertical-align: top;
	line-height: 1.5em;
}
